.profile{
  background-color: #fffeee;
  &__header{
    background-image: url('../../assets/profil-background.jpg');
    padding: 12px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    @media (max-width: 600px) {
      flex-direction: column;
      justify-content: center;
    }

    img{
      max-height: 225px;
    }

    .details {
      font-size: 16px;
      font-weight: 700;
      margin-right: 20%;
      @media (max-width: 600px){
        margin: 12px 0;
        text-align: center;
      }
      .detail{
        margin: 12px 0;
        color: #cae3ff;
        img{margin-right: 8px}
        a {
          color: #cae3ff;
          text-decoration: none;
        }
      }
    }


  }

  &__body{
    padding: 24px 0;
    .section{
      margin: 12px 2px;
      background-color: white;
      &__header{
        height: 42px;
        width: 100%;
        background-color: #283e4a;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
        border-radius: 12px 12px 0 0;

        .sectionTitle {
          font-size: 20px;
          color: white;
          font-weight: 700
        }

        .sectionButtons{
          display: flex;
          img{margin: 0 4px}
        }
      }

      &__body{
        border: 1px solid #283e4a;
        border-top: none;
        border-radius: 0 0 12px 12px;
        padding: 12px;
      }
    }
  }
}
