.profile{
  width: 100%;
  &__header{
    background-image: url('../../assets/profil-background.jpg');
    background-size: cover;
    padding: 12px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    @media (max-width: 600px) {
      flex-direction: column;
      justify-content: center;
    }

    &__image{
      width:200px;
      height: 225px;
      border: 3px solid white;
      background-image: url('../../assets/default-image.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
    }

    &__details {
      font-size: 16px;
      font-weight: 700;
      @media (max-width: 600px){
        margin: 12px 0;
        text-align: center;
      }
      .detail{
        margin: 12px 0;
        color: #cae3ff;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        img{
          margin-right: 8px;
        }
        a {
          color: #cae3ff;
          text-decoration: none;
        }

        @media (max-width: 600px){
          justify-content: center;
        }
      }
    }

    .progressbar{
      max-width: 20%;
      @media (max-width: 600px){
        max-width: 25%;
      }
      .CircularProgressbar-path {
        stroke: #fdb515;
      }

      .CircularProgressbar-text {
        fill: #fdb515
      }
    }

  }

  &__body{
    padding: 24px 0;
    .section{
      margin: 12px 8px;
      background-color: white;
      &__header{
        height: 42px;
        background-color: #8d7e7e;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
        border-radius: 12px 12px 0 0;

        .sectionTitle {
          font-size: 20px;
          color: white;
          font-weight: 700;
          text-transform: capitalize;
        }

        .sectionButtons{
          display: flex;
          img{
            margin: 0 4px;
            cursor: pointer;
          }
        }
      }

      &__body{
        border: 1px solid #283e4a;
        border-top: none;
        border-radius: 0 0 12px 12px;
        padding: 12px;
        font-family: "Segoe UI","Roboto", sans-serif;
        .no-data{
          text-align: center;
        }

        &__education-work{
          padding: 6px;
          margin-bottom: 3px;
          background-color: #f5f3f1;
          border-radius: 4px;
          position: relative;
          .buttons{
            position: absolute;
            right: 0;
            padding: 0 6px;
            img{
              height: 15px;
              margin: 12px 6px;
              cursor: pointer;
            }
          }
          .place, .title {
            line-height: 24px;
            font-size: 16px;
            font-weight: 600;
          }
          .title{font-weight: 400}
          .date, .location{
            line-height: 20px;
            font-size: 14px;
            font-weight:400;
          }
          .description{
            padding: 8px 0;
            p, blockquote, li{
              margin: 0;
              line-height: 20px;
              font-size: 14px;
              font-weight:400;
            }
            ol, ul{
              margin: 2px
            }
          }
        }

        &__skills{
          display: inline-flex;
          margin: 6px;
          align-items: center;
          background-color: #8d7e7e;
          color: white;
          border-radius: 4px;
          div{
            padding: 3px 6px;
            font-size: 16px;
            font-weight: 600;
          }
          img{
            height: 12px;
            padding:  0 5px;
            cursor: pointer;
          }
        }
      }

      &__hide{
        display: none;
      }
    }
  }
}

.profile-notfound{
  align-self: center;
  margin: 0 auto;
  font-size: 20px;
  color: #888;
  font-weight: 600;
}
