.users-page{
  width: 100%;
  .hide-bottom{
    .pagination-bottom{
      display: none
    }
  }
  .ReactTable{
    margin: 20px auto;
    width: 700px;
    @media (max-width: 800px) {
      width: 98%
    }

    .rt-tbody{

      .rt-td{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 600;
        color: #6e6554;
        a{
          color: #6e6554;
          text-decoration: none;
        }
        .prograss{
          width: 100%;
          height: 20px;
          background-color: #dadada;
          border-radius: 20px;
          &__bar{
            height: 100%;
            border-radius: 20px;
            transition: all .2s ease-out
          }
        }
        .image-cropper {
          width: 50px;
          height: 50px;
          position: relative;
          overflow: hidden;
          border-radius: 50%;
          img {
              display: inline;
              margin: 0 auto;
              height: auto;
              width: 100%;
          }
        }
      }
    }
    .pagination-bottom{
      .-pageSizeOptions{
        display: none;
      }
    }
  }
}
