.users-page{
  width: 100%;
  align-self: center;
  .hide-bottom{
    .pagination-bottom{
      display: none
    }
  }

  .searh-bar{
    width: 700px;
    margin: 0 auto;
    @media (max-width: 800px) {
      width: 98%
    }
    input{
      display: block;
      height: 36px;
      width: 250px;
      box-sizing: border-box;
      border-radius: 13px;
      outline: none;
      padding: 0 12px;
      font-size: 20px;
      color: #7a7262;
      font-weight: 600;
      border: 1px solid;
    }
  }
  .ReactTable{
    margin: 20px auto;
    width: 700px;
    @media (max-width: 800px) {
      width: 98%
    }

    .rt-tbody{

      .rt-td{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 600;
        color: #6e6554;
        a{
          color: #6e6554;
          text-decoration: none;
        }
        .edit{
          cursor: pointer;
        }
        .progress{
          width: 100%;
          height: 20px;
          background-color: #dadada;
          border-radius: 20px;
          position: relative;
          &__bar{
            height: 100%;
            border-radius: 20px;
            transition: all .2s ease-out
          }
          &__percent{
            text-align: center;
            position: absolute;
            top: 0;
            width: 100%;
          }
        }
        .image-cropper {
          width: 50px;
          height: 50px;
          position: relative;
          overflow: hidden;
          border-radius: 50%;
          img {
              display: inline;
              margin: 0 auto;
              height: auto;
              width: 100%;
          }
        }
      }
    }
    .pagination-bottom{
      .-pageSizeOptions{
        display: none;
      }
    }
  }
}
