<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>class management</title>
  <link rel="stylesheet" href="class.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
	<div class="class-das container">
		<h1>Teacher Dasboard</h1>
		<div class="class-detail">
      <div class="row">

        <div class="col-4">
          <h3 class='title'>Location</h3>
          <p>Main Campus</p>
          <p>Helsinki, Finland</p>
        </div>
        <div class="col-4">
          <h3 class='title'>Location</h3>
          <p>Summer 2018 <i class="fas fa-pencil-alt"></i></p>
          <h3 class='title'>Total number of participants</h3>
          <p>15</p>
        </div>
        <div class="col-4">
          <h3 class='title'>Overall process</h3>
          <div class="meter animate">
            <span style="width: 50%"><span></span></span>
          </div>
          <p>every student completed 6/12 sprints successfully.</p>
        </div>
      </div>
		</div>
		<div class="stu-table">
      <h3 class="title">Student</h3>
      <form>

      <div class="group">
        <input type="text" required>

        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Search</label>
      </div>
    </form>
			<ul class="list-table">
				<li><i class="fas fa-user-circle"></i> Sam Morehead</li>
				<li><i class="far fa-user-circle"></i> Thomas Moran</li>
				<li><i class="fas fa-user-circle"></i> John Rasbin</li>
				<li><i class="far fa-user-circle"></i> Frage Nillo</li>
				<li><i class="fas fa-user-circle"></i> Sam Morehead</li>
				<li><i class="far fa-user-circle"></i> Thomas Moran</li>
				<li><i class="fas fa-user-circle"></i> John Rasbin</li>
				<li><i class="far fa-user-circle"></i> Frage Nillo</li>
			</ul>
		</div>
	</div>
</body>
</html>
