footer{
  box-sizing: border-box;
  background-color: #383838;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fa9026;
  font-size: 15px;
  font-weight: 400;
}
