.container {
    margin-right: 20px;
    margin-left: 20px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.avatar {
    display: flex;
    flex-flow: row wrap;
}

.avatar-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.avatar-data {
    margin-left: 20px;
    min-width: 60%;
    flex: 1, 1, 60%;
}

.st-name {
    width: 60%;
    font-size: 40px;
    font-weight: bold;
    margin-left: 25px;
}

.field {
    width: 60%;
    margin: 25px;
}

.student-propfile label {
    width: 40%;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.field-entry {
    width: 54%;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.peer-detail {
    display: flex;
    flex-flow: row wrap;
}

.peer-image {
    width: 70px;
    height: 70px;
}

.peer-data {
    margin-top: 20px;
    margin-left: 30px;
    width: 80%;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

a {
    color: #0060b6;
    text-decoration: none;
    transition: 0.1s ease-out;
}

a:hover {
    color: #00a0c6;
    text-decoration: none;
    cursor: pointer;
}

a + a {
    padding-left: 0.5em;
}
.courses,
.education,
.teacher-review,
.peer-review {
    margin: 2.5em 0;
}

.st-name {
    font-size: 1.5em;
    padding: 1em 0;
}

.field-entry {
    font-weight: normal;
}

.avatar-data > :last-child {
    margin-top: 1em;
}

.courses > :first-child,
.education > :first-child,
.teacher-review > :first-child,
.peer-review > :first-child {
    font-size: 1.7em;
}

.courses h2,
.education h2,
.teacher-review h2 {
    font-size: 1.2em;
}
@media only screen and (max-width: 600px) {
    .st-name {
        margin-left: 0;
    }

    .container > h1:first-child {
        text-align: center;
    }

    .field {
        margin: 0;
    }

    .avatar-data {
        margin-left: 0;
        margin: 2em 0;
    }

    .avatar-image {
        width: 70%;
        margin: 0 auto;
    }

    img {
        border-radius: 5px;
    }

    .peer-detail {
        flex-flow: row nowrap;
    }

    .peer-image {
        width: 25%;
        height: auto;
    }

    .peer-data {
        margin-top: 0;
        margin-left: 1em;
    }

    label {
        width: 36%;
    }

    .field-entry {
        width: 68%;
        margin-bottom: 0.5em;
    }

    .field {
        width: auto;
    }
}


/* button top-bottom */
button.back-to-top{
  margin: 0 !important;
  padding: 0 !important;
  background: #fff;
	height: 0px;
  width: 0px;
  overflow: hidden;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
  color: transparent;
	clear: both;
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  display: block;
  border: none;
  right: 50px;
	bottom: 75px;
  font-size: 0px;
  outline: 0 !important;
  z-index: 99;
  transition: all .3s ease-in-out;
}
button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus,{
  outline: 0 !important;
}

button.back-to-top.show {
  display: block;
  background: #fff;
  color: #00ab6c;
  font-size: 25px;
  right: 25px;
	bottom: 50px;
  height: 50px;
  width: 50px;
  visibility: visible;
	box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
button.back-to-top.show:active {
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}
/* End button top-bottom */