.groupFields{
  display: flex;
  justify-content: space-around;
  @media (max-width: 600px){
    flex-direction: column;
  }
}

.form{
  max-height: 80vh;
  overflow: auto;
  box-sizing: border-box;
  padding: 4px;
}

label{
  display: block;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 4px;
  color: #467e9d;
}

select {
  width: 25%;
  height: 24px;
  padding: 2px;
  font-size: 18px;
  display: block;
  outline: none;
  border: none;
  border-bottom: 1px solid #467e9d;
  margin-left: 4px;
  margin-bottom: 16px;
  color: #283e4a;
  @media (max-width: 600px){
    width: 50%;
  }
}

.login-button{
  padding:6px 8px;
  font-size: 12px;
  font-weight: 900;
  background: white;
  border-radius: 6px;
  color: #467e9d;
  outline: none;
  background-color: #f0f0f0;
}

.login-error{
  margin: 0px 0 10px;
  height: 20px;
  background-color: #fedce0;
  padding: 10px;
  color: #8b3648;
  border: 1px solid #8b3648;
  border-radius: 14px;
  span{
    float: right;
    cursor: pointer;
  }
}

.forgot {
  position: relative;
  font-size: 10px;
  margin-left: 4px;
  color: #467e9d;
  top: -16px;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}

.signup-page {
  align-self: center;
  margin: 0 auto;
  padding: 16px;
  width: 700px;
  border-radius: 8px;
  background: white;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(153,153,153,0.63);
  -moz-box-shadow: 6px 6px 5px 0px rgba(153,153,153,0.63);
  box-shadow: 6px 6px 5px 0px rgba(153,153,153,0.63);
  box-sizing: border-box;
  @media (max-width: 800px){
    width: 95%;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
  }

  &__name-phone{
    display: flex;
    .inputField{
      &:nth-child(1){
        flex: 2;
        margin-right: 8px;
        @media (max-width: 800px){
          margin-right: 4px ;
        }
      }
      &:nth-child(2){
        flex: 1;
        padding-left: 8px;
        @media (max-width: 800px){
          padding-left: 4px ;
        }
      }
    }
    @media (max-width: 800px){
      flex-direction: column;
    }
  }

  &__passwords{
    display: flex;
    .inputField{
      &:nth-child(1){
        flex: 1;
        margin-right: 8px;
        @media (max-width: 800px){
          margin-right: 4px ;
        }
      }
      &:nth-child(2){
        flex: 1;
        padding-left: 8px;
        @media (max-width: 800px){
          padding-left: 4px ;
        }
      }
    }
    @media (max-width: 800px){
      flex-direction: column;
    }
  }
}
